.back {
  background-image: url('../images/Home.png');
  background-size: 100% 20.5%;
  margin: 0px;
}

.botActivity{
  border-radius: 5px;
  background-color: aquamarine;
  margin-top: 20px;
  margin-bottom: 20px;
  
  /* position: fixed; */
}

.botActivity:hover{
  cursor: pointer;
  background-color: rgb(33, 252, 179);
}

.containerCountry{
  margin: 46px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}